main[data-v-5b42a7fc]{font-family:system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji";padding:2rem;line-height:1.5}:root{color-scheme:light dark}body{margin:0}
